services:
    api:
        container_name: fitness_app
        build: ./backend
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
        env_file:
            - .env
        depends_on:
            - db
            - redis

    db:
        container_name: postgres
        image: postgres:15
        ports:
            - "5433:5432" # port 5432 is already in use so i changed it to 5433 for local development.
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file:
            - .env
    redis:
        container_name: redis-cache
        image: redis:7-alpine
        ports:
            - "6380:6379"
        env_file:
            - .env

volumes:
    postgres_data:
