fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
bcrypt==4.0.1
python-jose[cryptography]
pydantic
pydantic-settings
fastapi-mail
passlib
python-multipart
alembic
psycopg2-binary 
redis
openpyxl
python-dateutil